<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <title>Ptt Flask Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/ptt_style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">

            <!-- 宣告一個可折疊的按鈕 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- 導覽列 -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li> -->
              </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                <h1>Ptt爬蟲資料匯出</h1>
                <form action='/' method="post">
                  <div class='form-group'>
                    <select name= "webName" id="webName" type='submit' class='form-control' required>
                      <option value="">請選擇板名</option>
                      {% for board in boardName:%}
                      <option value={{board}}>{{board}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <!-- <div class="invalid-feedback">Please choose a username.</div> -->
                  <button type="submit" class='btn btn-dark'>查詢</button>
                </form>
                
                
                <!-- <form action='/' method="post">
                    <input type="text" placeholder="請輸入版名" name='webName'>
                    <input type="submit">
                </form> -->
                <div class="row">
                    <div class="col" id='info' style='padding: 30px 0 20px 12px;'><h6>目前查詢的板名:  {{webName}}</h6></div>
                </div>
                <div class='card card-primary card-outline'>
                  <div class="table-responsive">
                    <table class='table table-bordered table-hover text-center'>
                      <thead class='thead-dark'>
                        <tr>
                          <th>文章ID</th>
                          <th>推or噓</th>
                          <th>作者</th>
                          <th>標題</th>
                          <th>日期</th>
                          <th>內文</th>
                          <th>留言推噓</th>
                          <th>留言內文</th>
                          <th>留言的使用者ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in datas:%}
                        <tr>
                            <td>{{data[0]}}</td>
                            <td>{{data[1]}}</td>
                            <td>{{data[2]}}</td>
                            <td style='text-align: left;'>{{data[3]}}</td>
                            <td>{{data[4]}}</td>
                            <td style='text-align: left;'>{{data[5][0:50]+'...'}}</td>
                            <td style='text-align: left;'>{{data[6][0:10]+'...'}}</td>
                            <td style='text-align: left;'>{{data[7][0:100]+'...'}}</td>
                            <td style='text-align: left;'>{{data[8][0:10]+'...'}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>

              
                
                <!-- 翻頁 -->
                <!-- <nav id='page' aria-label="...">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav> -->
            </div>
        </main>

        <script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
        <script src='../static/bootstrap/js/bootstrap.min.js'></script>
        <script src='../static/js/ptt.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    </body>
</html>